html, body {
    height: 100%;
}

#container {
    width:100%;
    padding: 0px;
}


h1 {
    margin-bottom: -0.5em;
}

.main-content {
    margin-top: 10em!important;
    position:absolute;
    width: 100%;
    height: 80%;
    left: 0;
    right: 0;
    margin: auto;
}

.main-content > div {
    height: 90%;
}

.nav {
    float: right;
}

.nav li {
    display: table-cell;
    vertical-align: middle;
    float: left;
    text-decoration: none;
    list-style-type: none;
}

.hover-blue:hover {
    background-color: #7d97a5 !important;
    color: white !important;
}

.clearfix {
    clear: both;
}

.profileForm {
    margin: auto;
    text-align: center;
}

.profileForm label {
    display: block;
}

.form-group {
    padding: 8px;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    /*visibility: hidden;*/
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.active {
    background-color: white;
    padding: 8px 16px;
    color: black
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
