#container {
    margin: auto;
    max-width: 50%;
    padding: 10px;
}

.profileForm {
    margin: auto;
    text-align: center;
}

.profileForm label {
    display: block;
}

.form-group {
    padding: 8px;
}
